APP_CONFIG__BOT__TOKEN=asd
APP_CONFIG__BOT__RUN_POLLING=True

APP_CONFIG__BOT__RUN_WEBHOOK__WEB_SERVER_HOST="0.0.0.0"
APP_CONFIG__BOT__RUN_WEBHOOK__WEB_SERVER_PORT=8000
APP_CONFIG__BOT__RUN_WEBHOOK__WEBHOOK_PATH="/bot"
APP_CONFIG__BOT__RUN_WEBHOOK__WEBHOOK_SECRET="sec"
APP_CONFIG__BOT__RUN_WEBHOOK__BASE_WEBHOOK_URL="https://site.pro"
# APP_CONFIG__BOT__SUPPORT_CHAT=0

APP_CONFIG__DB__URL=postgresql+asyncpg://postgres:1111@localhost:5432/test
APP_CONFIG__DB__ECHO=False
APP_CONFIG__DB__ECHO_POOL=False
APP_CONFIG__DB__POOL_SIZE=5
APP_CONFIG__DB__MAX_OVERFLOW=10

APP_CONFIG__WALLET__MANIFEST_URL=asd
APP_CONFIG__WALLET__TON_CENTER_API_KEY=asd                                                                                                            70a81cf164484447a6633a7
APP_CONFIG__WALLET__TONAPI_KEY=ad

APP_CONFIG__REDIS=redis://@127.0.0.1:6379/0